<section class="container">

  <div class="todo">
    <header class="header">
      <h1>My todo-list</h1>
      <input placeholder="Add item here then press enter" [(ngModel)]="newItem.name" (keyup.enter)="onEnter()" #input>
    </header>

    <main class="body">
      <div class="list" cdkDropList (cdkDropListDropped)="sortItem($event)">
        <div class="item" *ngFor="let item of list" cdkDrag>
          <div class="item-container">
            <div class="item-label">
              <mat-checkbox [(ngModel)]="item.complete"></mat-checkbox>
              <label [class.complete]="item.complete">{{item.name}}</label>
            </div>
            <div>
              <button (click)="selectItem(item)">
                <i class="fa fa-pencil"></i>
              </button>
              <button (click)="removeItem(item)">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="no-item" *ngIf="list.length < 1">
          Your list is empty.
        </div>
      </div>


    </main>

    <footer class="footer">
      <span class="todo-count"><strong>{{list.length}}</strong> {{list.length == 1 ? 'item' : 'items'}}</span>
    </footer>
  </div>

</section>
